---
---

<div>
  <p>
    Here's a snapshot of my professional and academic accomplishments:
  </p>
  <ul>
    <li>
      <strong class="animated">Work Experience:</strong>
      <ul>
        <li>Security Researcher at 
          <a class="animated" href={"https://www.ibm.com/x-force"} target="_blank">IBM X-Force</a>
          (May 2024 to Present)</li>
        <li>Graduate Research Apprentice at Northeastern University's 
          <a class="animated" href={"https://nds2.ccs.neu.edu"} target="_blank">NDSS Lab</a>,
          advised by
          <a class="animated" href={"https://cnitarot.github.io"} target="_blank">Dr. Cristina Nita-Rotaru</a>
          (January 2023 to Present)</li>
        <li>Security Engineer Intern at 
          <a class="animated" href={"https://www.broadinstitute.org"} target="_blank">The Broad Institute of MIT and Harvard</a>
          (September 2023 to December 2023)</li>
        <li>Security Engineer Intern at 
          <a class="animated" href={"https://www.zoetis.com"} target="_blank">Pfizer - Zoetis</a>
          (May 2023 to August 2023)</li>
        <li>Software Development Engineer Intern at 
          <a class="animated" href={"https://oyela.in"} target="_blank">Oyela</a>
          (January 2022 to April 2022)</li>
        <li>Mumbai Community Chapter Lead at 
          <a class="animated" href={"https://www.codecademy.com"} target="_blank">Codecademy</a>
          (May 2021 to April 2022)</li>
      </ul>
    </li>
    <li>
      <strong class="animated">Education:</strong>
      <ul>
        <li>MSc in Cybersecurity, 
          <a class="animated" href={"https://www.khoury.northeastern.edu"} target="_blank">Northeastern University</a>
          (September 2022 to June 2024)</li>
        <li>BEng in Information Technology, 
          <a class="animated" href={"https://mu.ac.in"} target="_blank"> University of Mumbai</a>
          (August 2018 to July 2022)</li>
      </ul>
    </li>
    <li>
      <strong class="animated">Projects:</strong>
      <ul>
        <li>Attacks against Delay-based TCP Congestion Control Algorithms - 
          <a class="animated" href={"https://web.mit.edu/copa"} target="_blank"> Copa</a>
          at 
          <a class="animated" href={"https://nds2.ccs.neu.edu"} target="_blank"> NDSS Lab</a>
          (January 2023 to present)</li>
        <li>Mobile GPU Guardian at 
          <a class="animated" href={"https://seclab.nu"} target="_blank"> NEU SecLab</a>
          (July 2023 to present)</li>
        <li>
          <a class="animated" href={"https://www.khoury.northeastern.edu/clubs_and_orgs/neu-ctf"} target="_blank"> NeuCTF</a>
          - Capture The Flag Club at Northeastern (May 2023 to present)</li>
        <li>
          <a class="animated" href={"https://ieeexplore.ieee.org/document/9848337"} target="_blank"> TORSION</a>
          - Python-based Open-Source Intelligence (OSINT) tool for entity metadata collection (March 2021 to March 2022)</li>
        <li>
          <a class="animated" href={"https://hackp.kerala.gov.in"} target="_blank"> HacKP</a>
          - Python-based Advanced Darknet => Search Engine, Dissecting and Monitoring (March 2021 to August 2021)</li>

        <li>Open Source Security Contributions at
          <a class="animated" href={"https://upptime.js.org"} target="_blank"> Upptime</a>,
          (14k⭐)
          <a class="animated" href={"https://hackp.kerala.gov.in"} target="_blank"> HacKP 2021</a>,
          <a class="animated" href={"https://github.com/aquasecurity/trivy"} target="_blank"> Trivy</a>,
          <a class="animated" href={"https://github.com/ossf/scorecard"} target="_blank"> OpenSSF Scorecard</a>
        </li>
      </ul>
    </li>
    <li>
      <strong class="animated">Some Awards and Achievements:</strong>
      <ul>
        <li>Student Scholarship -<a class="animated" href={"https://fwdcloudsec.org"} target="_blank"> fwd:cloudsec</a></li>
        <li><a class="animated" href={"https://www.crowdstrike.com/about-crowdstrike/nextgen-scholarship-program"} target="_blank"> CrowdStrike 2023-24 NextGen Scholarship</a> - Sole MSc recipient - <a class="animated">$10,000</a></li>
        <li>Student Scholarship -<a class="animated" href={"https://www.blackhat.com"} target="_blank"> Blackhat USA</a></li>
        <li>Google's <a class="animated" href={"https://codelovehack.bemyapp.com"} target="_blank"> Code_Hack</a> Hackathon Global Finalist</li>
        <li>DEF CON <a class="animated" href={"https://cryptovillage.org"} target="_blank"> Crypto Village Volunteer</a></li>
        <li>7X Tech Workshops - NSS, <a class="animated" href={"https://csiindia.org"} target="_blank"> CSI</a>, 
          <a class="animated" href={"https://owasp.org"} target="_blank"> OWASP</a>, 
          <a class="animated" href={"https://hackmit.org"} target="_blank"> HackMIT</a>, 
          <a class="animated" href={"https://www.khoury.northeastern.edu/clubs_and_orgs/null-neu"} target="_blank"> Null NEU</a> 
          and
          <a class="animated" href={"https://defcon.org"} target="_blank"> DEF CON</a>, 
        </li>
        <li>5X Hackathon Finalist, 3X Long Distance Marathon</li>
        <li>100+ Anime, 50+ RFCs lol</li>
      </ul>
    </li>
  </ul>
</div>
<hr>